
.ContainerResume{
    max-width: 960px;
    min-width: 300px;
    padding: 16px;
	width: 100%;
}

.ResumeCheckout{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}

.ProductResume{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.ContainerImageProduct>img{
    max-width: 60px;
    width: 60px;
}

.ContainerInfoProduct{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    padding-left: 24px;
}

.ContainerInfoProduct>p{
    margin: 0;
    font-size: 12px;
    color: #888;
    margin-bottom: 10px;
}

.ContainerInfoProduct>h4{
    margin: 0;
    font-size: 13px;
    color: #666;
    font-weight: bold;
}

.ValueAndQuantity{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    font-size: 13px;
    color: #333;
}

.TotalResume{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    width: 100%;
    margin-top: 32px;
}

.TotalResume1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    font-size: 14px;
}

.TotalResume1>p{
    margin-bottom: 10px;
}

.TotalResume2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    font-size: 14px;
    color: #44c485;
}

